{% extends "base.html" %}
{% load static %}

{% block content %}
{% if items_data %}

<div class="container-fluid">
    <div class="row">
        <div class="almost-main col-md-10 col-11 mx-auto">
            
            <div class="row mt-5 gx-3">
<!-- left side div -->
<div class="left-side col-md-12 col-lg-8 col-11 mx-auto main_cart mb-lg-0 mb-5 shadow">
    {% for item in items_data %}
<div class="card p-4">
<div class="row">
<!-- cart images div -->
<div class="cart-image col-md-5 col-11 mx-auto d-flex justify-content-center align-items-center product_img d-none d-sm-flex">
  <img src="{{ item.image.url }}" class="img-fluid" alt="cart img">
</div>





<!-- cart product details -->
<div class="col-md-7 col-11 mx-auto px-4 mt-2">
<div class="row">
<!-- product name  -->
 
<div class="col-6 card-title">
<h1 class="mb-4 product_name">{{ item.product_name }}</h1>
<p class="mb-2 fs-6">БРЕНД: {{ item.brand }}</p>
<p class="mb-3 fs-6">МЛ: {{ item.size_ml }}</p>
</div>

<!-- quantity inc dec -->
<div class="col-6">
<ul class="pagination justify-content-end set_quantity">
<li class="page-item"><input type="text" name="" class="page-links" value="{{ item.quantity }}" id="textbox" readonly>
</li>
</ul>
</div>
</div>
<!-- //remover move and price -->
<div class="row">
    <div class="col-8 d-flex justify-content-between remove_wish">
        <a href="{% url "cart:cart-remove" item.item_id %}" class="remove-item-cart">
            {% csrf_token %}<i class="fas fa-trash-alt"></i> 
            Убрать</a>
</div>
<div class="col-4 d-flex justify-content-end price_money">
<h3>m. <span id="itemval">{{ item.unit_price }} </span></h3>
</div>
</div>
</div>
</div>
</div>
{% endfor %}
<hr/>
</div>
<!-- right side div -->
<div class="col-md-12 col-lg-4 col-11 mx-auto mt-lg-0 mt-md-5 mb-5">
    <div class="right_side p-3 shadow bg-white">
        
        <div class="price_indiv d-flex justify-content-between">
            <h2 class="product_name mb-5">Общее количество парфюмов</h2> 
            <h2><span id="product_total_amt">{{ total_items }}</span></h2>
        </div>
        <div class="price_indiv d-flex justify-content-between">
            <h2 class="product_name mb-5">Стоимость доставки</h2> 
            <h2><span id="product_total_amt">25</span></h2>
        </div>
        <div class="price_indiv d-flex justify-content-between">
            <h2 class="product_name mb-5">Общая стоимость парфюмов</h2> 
            <h2><span id="product_total_amt">{{ total_price }}</span></h2>
        </div>
        <div class='text-center'>
            <button class="btn-accent-arrow">Оформление заказа</button>
        </div>
    </div>
    
    
    <!-- discount code ends -->
    
</div>
</div>
</div>
</div>
</div>

{% else %}
    <div style="text-align: center; padding: 50px;">
        <p class='fs-1'>Ваша корзина пуста.</p>
        <a href="{% url 'catalog:catalog_all' %}" class="btn-accent-arrow fs-4">Перейти к покупкам</a>
    </div>
{% endif %}


{% endblock  %}