{% extends "base.html" %}
{% load static %}
{% load product_tags %}


{% block content %}
<!--Контент на странице-->
<section id="featured-books" class="py-5 my-5 mt-0">
	<div class="container">

		<!-- Filter -->
<!-- Heading -->
<div class="mb-5">
  <div class="row align-items-center">

    <div class="col-sm-auto">
      <!-- Select -->
			 
			 <form action=""
			  method='GET' id='sortForm'>	 
				 <select class="form-select form-select-sm luxury-select"
				 name='sort_by' id='sortSelect'>
				 <option value="" disabled {% if not request.GET.sort_by %}selected{% endif %} hidden>Фильтры</option>
					 <option value="relevant"
					 {% if request.GET.sort_by == 'relevant' %}selected{% endif %}>
					 По умолчанию
					</option>
					 <option value="on_sale"
					  {% if request.GET.sort_by == 'on_sale' %}selected{% endif %}>
						Товары по акции
					</option>
					 <option value="HighestPrice"
					  {% if request.GET.sort_by == 'HighestPrice' %}selected{% endif %}>
						Цена: по убыванию
					</option>
					 <option value="LowestPrice"
					  {% if request.GET.sort_by == 'LowestPrice' %}selected{% endif %}>
						Цена: по возрастанию
					</option>	
					</select>
				</form>
      <!-- End Select -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
<!-- End Heading -->

					<div class="section-header align-center">
						<div class="title">
							{% comment %} <span>
								Воспользуйтесь своей возможностью</span> {% endcomment %}
						</div>
						<h2 class="section-title">{{ page_title }}</h2>
					</div>

					<div class="row">
						<div class="col-md-12">
							
							<div class="product-list" data-aos="fade-up">
								<div class="row">
									{% for parfume in parfumes %}
									<div class="col-md-3">
										<div class="product-item">
											<figure class="product-style">
												<div class="product-image-container">
													<a href="{% url "catalog:product_detail" parfume.slug %}">
														<img src="{{ parfume.image.url }}" alt="{{ parfume.name }}" class="product-item"></a>
												</div>
												<figcaption>
													<a href="{% url "catalog:product_detail" parfume.slug %}" class='text-decoration-none mb-0'>
														<h3 class='mb-0'>{{ parfume.name }}</h3>
													</a>
													<span>{{ parfume.brand_name }}</span>
													
													<!--Цена продукта-->
													{% if parfume.discount %}
														<div style="display: flex; justify-content: center; align-items: center; gap: 8px;">
															<p class='mb-1' style="margin-bottom: 0;"><s>{{ parfume.price }}</s> .m</p>
															<div class="item-price">{{ parfume.sell_price }} m.</div>
														</div>
														<span class="badge bg-warning text-dark">
															Скидка {{ parfume.discount }} %
														</span>
													{% else %}
														<div class="item-price">{{ parfume.price }} m.</div>
													{% endif %}
												</figcaption>
											</div>
										</div>
										{% endfor %}

										
															
								</div><!--row-->
							</div><!--product-list-->

							
						</div><!--col-->
					</div>
					
					<!-- Пагинация автоматически доступна -->
					{% if is_paginated %}
						<div class="pagination">
							<!-- Previous Button -->
							{% if page_obj.has_previous %}
								<a class="page-link page-link-prev" href="?{% if request.GET.urlencode|cut:'page='|cut:'&' %}page={{ page_obj.previous_page_number }}&{{ request.GET.urlencode|cut:'page='|cut:'&' }}{% else %}page={{ page_obj.previous_page_number }}{% endif %}">Previous</a>
							{% else %}
								<span class="page-link page-link-prev page-link-disabled">Previous</span>
							{% endif %}

							<!-- Page Numbers -->
							{% for num in page_obj.paginator.page_range %}
								{% if page_obj.number == num %}
									<span class="page-link page-link-current">{{ num }}</span>
								{% else %}
									<a class="page-link" href="?{% if request.GET.urlencode|cut:'page='|cut:'&' %}page={{ num }}&{{ request.GET.urlencode|cut:'page='|cut:'&' }}{% else %}page={{ num }}{% endif %}">{{ num }}</a>
								{% endif %}
							{% endfor %}

							<!-- Next Button -->
							{% if page_obj.has_next %}
								<a class="page-link page-link-next" href="?{% if request.GET.urlencode|cut:'page='|cut:'&' %}page={{ page_obj.next_page_number }}&{{ request.GET.urlencode|cut:'page='|cut:'&' }}{% else %}page={{ page_obj.next_page_number }}{% endif %}">Next</a>
							{% else %}
								<span class="page-link page-link-next page-link-disabled">Next</span>
							{% endif %}
						</div>
					{% endif %}


					<div class="row">
							<div class="col-md-12">
								<div class="btn-wrap align-right">
									{% tag_all_categories as categories %}
									{% for category in categories %}
									<a href="{% url "catalog:catalog" category.slug %}" class="btn-accent-arrow">Показать все <i class="icon icon-ns-arrow-right"></i></a>
									{% endfor %}
                </div>
							</div>
						</div>
					</div>
				</section>
				<!--Контент на странице закончился-->
{% endblock  %}
				