{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="bg-light">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 mb-4 mb-sm-5">
              <div class="card card-style1 border-0">
                  <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                      <form action="{% url "user:profile" %}" method='post' enctype="multipart/form-data">
                          {% csrf_token %}
                      <div class="row align-items-center">
                        <div class="col-md-4 text-center">
                            {% if user.image %}
                            <img src="{{ user.image.url }}" alt="Profile" 
                            class="rounded-circle" 
                            style="width: 200px; height: 200px; object-fit: cover;">
                            {% else %}
                            <img src="{% static "images/icons/profile-icon.png" %}" alt="Profile" class="rounded-circle" 
                            style="width: 200px; height: 200px; object-fit: cover;">
                            {% endif %}
                            
                            <!-- File input -->
                            <label for="id_image" class="custom-file-upload mt-2">
                                Выбрать изображение
                            </label>
                            <input type="file" id="id_image" name="image" accept="image/*">
                            {% if form.image.errors %}
                            <div class="alert alert-danger alert-dismissible fade show mt-2">
                                {{ form.image.errors }}
                            </div>
                            {% endif %}
                        </div>  
                          <div class="col-lg-6 px-xl-10">
                              <div class="row">
                                  
                                  <div class="col-md-12 mb-0">
                                      <label for="username" class="form-label">Имя пользователя*</label>
                                      <input type="text" class="form-control" id="username"
                                          placeholder="Введите ваше имя пользователя"
                                          name="username"
                                          value="{{form.username.value}}" 
                                          required>
                                          {% if form.username.errors %}
                                          <div class='alert  alert-danger alert-dismissible fade show'>
                                            {{ form.username.errors.0 }}
                                          </div>
                                          {% endif %}
                                  </div>
                                  <div class="col-md-12 mb-0">
                                      <label for="email" class="form-label">Email*</label>
                                      <input type="email" class="form-control" id="email"
                                          placeholder="Введите ваш email *youremail@example.com" 
                                          name="email"
                                          value="{{form.email.value}}"
                                          required>
                                          
                                          {% if form.email.errors %}
                                          <div class='alert  alert-danger alert-dismissible fade show'>
                                            {{ form.email.errors.0 }}
                                          </div>
                                          {% endif %}
                                  </div>
                              </div>
                              <button type="submit" class="product-button">Сохранить</button>
                          </form>
                            <a href="{% url "user:logout"%}" class="nav-link mt-2">Выйти</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
  <div class="container" style="max-width: 819px;">
      <!-- Orders Section -->
      <div class="d-flex justify-content-center">
          <div class="orders-header">Мои заказы</div>
      </div>
      {% if orders_data %}
          <div class="table-responsive">
              <table class="orders-table">
                  <thead>
                      <tr>
                          <th>Заказ №</th>
                          <th>Дата</th>
                          <th>Количество товаров</th>
                          <th>Общая стоимость</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for order in orders_data %}
                          <tr>
                              <td>{{ order.id }}</td>
                              <td>{{ order.created_timestamp|date:"d.m.Y" }}</td>
                              <td>{{ order.total_quantity }}</td>
                              <td>{{ order.total_price|floatformat:2 }} $</td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      {% else %}
          <div class="d-flex justify-content-center">
              <p class="no-orders">У вас нет заказов.</p>
          </div>
      {% endif %}
  </div>
</section>


{% endblock  %}